<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>

        <tr th:each="blog:${list}">
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.content}"></td>
            <td><a th:href="@{'/blogs/'+${blog.id}+'/deletion'}">删除</a></td>
        </tr>
    </table>
</body>
</html>